.App-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Image-block {
  margin-top: 8%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.Image {
  width: 37%;
  pointer-events: none;
}

.Text-block {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.text {
  width: 55%;
  text-align: center;
}
